.navbar-fixed-top,
.navbar-fixed-bottom {
    position: initial;
}

.navbar {
    margin-bottom: 0px;
}

.stu-slide {
    position: relative;
}

.stu-trianglify canvas {
    width: 100%;
}

#stu-particles {
    position: absolute;
    top: 0px;
    width: 100%;
}

#stu-particles .particles-js-canvas-el {
    max-height: 500px;
}

.stu-trianglify-contact canvas {
    width: 100%;
}

.stu-area-contac {
    position: relative;
}

.stu-contact-form input {
    height: 50px;
    font-size: 2rem;
}

.stu-contact-form textarea {
    font-size: 2rem;
}

.stu-contact-form .btn-submit-width{
    width: 50%;
    margin: 0 auto;
}

/*.stu-contact-form {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
}

.stu-contact-form .block-control {
    height: 35px;
}

.stu-contact-form form {
    margin: 0 auto;
    width: 70%;
}

.stu-contact-form .btn-send {
    margin-top: 2%;
}*/

.hello-block {
    position: absolute;
    top: 22%;
    left: 5%;
}

.hello-block .header-me {
    text-align: center;
}

.hello-block .header-me h2 {
    font-family: 'Nunito-Bold';
    font-size: 4em;
    text-transform: capitalize;
    color: #393b3a;
}

.hello-block .header-me h2 span {
    color: #00cfbd;
    font-size: 1em;
}

.hello-block .header-me p {
    font-family: 'Nunito-Bold';
    font-size: 1.3em;
    color: #393b3a;
}

.hello-block .header-me .glyphicon-triangle-bottom {
    font-size: 7em;
}

.stu-social .stu-font-social .fa {
    font-size: 7em;
}

.stu-social .stu-font-social .stu-font-face:hover {
    color: #3a5795;
}

.stu-social .stu-font-social .stu-font-google:hover {
    color: #db4437;
}

.stu-social .stu-font-social .stu-font-twitter:hover {
    color: #1da1f2;
}

.stu-social .stu-font-social .stu-font-linked:hover {
    color: #1a85bc;
}
