.navbar-fixed-top,
.navbar-fixed-bottom {
    position: initial;
}

.navbar {
    margin-bottom: 0px;
}

.stu-slide {
    position: relative;
}

.stu-trianglify canvas {
    width: 100%;
}

#stu-particles {
    position: absolute;
    top: 0px;
    width: 100%;
}

#stu-particles .particles-js-canvas-el {
    max-height: 500px;
}

.stu-trianglify-contact canvas {
    width: 100%;
}
.stu-area-contac{
    position: relative;
}
.stu-contact-form{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
}
.stu-contact-form .block-control{
    height: 35px;
}

.stu-contact-form form{
    margin: 0 auto;
    width: 70%;
}

.stu-contact-form .btn-send{
    margin-top: 2%;
}
