.navbar-fixed-top, .navbar-fixed-bottom{
	position: initial;
}
.navbar{
	margin-bottom: 0px;
}
.text-center{
	text-align: center;
}
#particles-js{
    position: relative;
}
.particles-js-canvas-el{
    position: absolute;
    left: 0px;
}
